body {
  background-image: url(https://lh3.googleusercontent.com/HoHV713p4OKyBvzDmZEEd9uRrvFxOJTdkVFByuhpc_euYOoz7H_qLv87i9sE9WM9d2oHS_OylWnWurIC86stR5fVB0pX3QQkuxbbJczlI5IRaQj66T-87INRh1yknl5G7ZYCVbUhiHZX3watu2O4ewMzBr8ZCcnE6U4pCFjvdo-WVnvlX1RJIu3y4jjQALNFStWuabeiErGOgufRosis4lJGjQ76u5g0vsd_8b1yeSMPLfudwBa1WZmKuQHFgpK8-EcSmWbAR3FZfmtUKQaZ-T5VK4DVaAuDmA_-Pfp0ntEGyJ2IZrUxH6dabJ-6NNKeZjTzwHBM3EZFRc_VgjKGvWLG4Yg5F-_nqLybN5DcIJ8aDdGeHHWGHx7UahOv4yAGfqxtELmKJvKWYcmogvB8rpmonY9n9t-yg-nzq1DFQTiIv9IrZK7ptmx6aDgBJotAyS6nolFvjTSodI2IrQ-XjIO0WMGFFaN0TK4BlH8gOjiBIji-Oh11QykjPLTM8TdTjbJKR9MCT587meFCzRJ-rKajv0lO0LHdZ1cbrKNPMe9YNo9x3URRKIZeLRu9KYCWREygnzgn_pcpn8l5x8qQgXepLvQ0sp4w88nCNEsplgwgL9b4TUVjiPbM-4Qrr5w6nJR3389tLHX2btJ3chmKf--ygHu2A-NJuDOiukEDBRXa5HRU9B24OFq5pju4UpswxCMELacLTop1965L1bcG6WcC=w714-h476-no?authuser=0);
  background-size: cover;
}

input {
  width: 400px;
}

h1 {
  font-size: 100px;
  font-style: oblique;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  padding-bottom: 40px;
}
